openai
anthropic
google-generativeai
google-genai

torch
transformers
datasets
tokenizers
huggingface-hub
hf-xet

numpy
scikit-learn
pandas
tqdm

tenacity
tiktoken>=0.9.0
inspect_ai
beautifulsoup4
httpx
python-dotenv>=0.16.0
pyyaml
rich>=13.3.3
typing_extensions>=4.9.0
aiohttp
click 
debugpy 
docstring-parser  
ijson 
jsonschema 
mmh3 
nest_asyncio 
platformdirs 
psutil 
pydantic  
s3fs 
semver 
tenacity 
textual  
anyio
jsonlines
shortuuid
jsonpatch
exa_py
